@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
            <tr>
                <th scope="row">@ViewBag.Name</th>
                <td>@ViewBag.Surname</td>
                <td>@ViewBag.Age</td>
                <td>@ViewBag.Country</td>
                <td>@ViewBag.Phone_Number</td>
            </tr>
 